#set($layout="layout/bodyLayout.vm")
#set($page_title="教师作业管理-电子作业统计")
#define($script)
<link rel="stylesheet" href="http://asset.xueleyun.com/g/css/global.min.css?version=${version}" />
<script src="http://asset.xueleyun.com/g/lib/gallery/swfobject.js?version=${version}"></script>
<link rel="stylesheet" href="http://asset.xueleyun.com/css/cloudteach/homework-manage.css?version=${version}" />
<script src="http://asset.xueleyun.com/js/cloudteach/highchart.js?version=${version}"></script>
<script src="http://asset.xueleyun.com/js/cloudteach/task-static.js?version=${version}"></script>
#end
<div class="detail-head">
    <a class="li-whos" href="initDetail?workType=4&workId=$!{workId}&classId=$!{classId}">完成详情</a>
    <a class="li-whos on" href="javascript:void(0)">作业统计</a>
    <a class="li-whos" href="workItemDetail?workId=$!{workId}&classId=$!{classId}">作业题目</a>
</div>
<div class="container">
    <div class="detail-wrap">
        <div class="classes-wrap">
            <ul class="ul-classes">
                #foreach($WorkClassViewDTO in $exerciseWorkClassList)
                    <li #if ($!{WorkClassViewDTO.classId} == $!{classId})class="sel"#end><a href="teacherWorkSR?workId=$!{workId}&classId=$!{WorkClassViewDTO.classId}">$!{WorkClassViewDTO.className}</a></li>
                #end
            </ul>
        </div>
        <div class="static-right">
            <div class="complete-rate">
                <div class="pie">
                    <h3>完成率</h3>
                    <div class="picdata" data-rate="$!{sRTeacherWorkDTO.finshPect}"></div>
                    <p class="pie-note">$!{sRTeacherWorkDTO.finshPect}%($!{sRTeacherWorkDTO.subStuNum}/$!{sRTeacherWorkDTO.classStuNum})</p>
                </div>
                <div class="correct-result">
                    <h3>批改结果</h3>
                    <ul class="ul-result">
                        <li>
                            <div class="total">
                                <div class="complete" style="width: $!{sRTeacherWorkDTO.scoreAPect}%"></div>
                                <em class="rate">$!{sRTeacherWorkDTO.scoreAPect}%（$!{sRTeacherWorkDTO.scoreAStuList.size()}人)</em>
                            </div>
                            <span class="level-name">A</span>
                        </li>
                        <li>
                            <div class="total">
                                <div class="complete" style="width: $!{sRTeacherWorkDTO.scoreBPect}%"></div>
                                <em class="rate">$!{sRTeacherWorkDTO.scoreBPect}%（$!{sRTeacherWorkDTO.scoreBStuList.size()}人)</em>
                            </div>
                            <span class="level-name">B</span>
                        </li>
                        <li>
                            <div class="total">
                                <div class="complete" style="width: $!{sRTeacherWorkDTO.scoreCPect}%"></div>
                                <em class="rate">$!{sRTeacherWorkDTO.scoreCPect}%（$!{sRTeacherWorkDTO.scoreCStuList.size()}人)</em>
                            </div>
                            <span class="level-name">C</span>
                        </li>
                        <li>
                            <div class="total">
                                <div class="complete" style="width: $!{sRTeacherWorkDTO.scoreDPect}%"></div>
                                <em class="rate">$!{sRTeacherWorkDTO.scoreDPect}%（$!{sRTeacherWorkDTO.scoreDStuList.size()}人)</em>
                            </div>
                            <span class="level-name">D</span>
                        </li>
                        <li>
                            <div class="total">
                                <div class="complete" style="width: $!{sRTeacherWorkDTO.unScorePect}%"></div>
                                <em class="rate">$!{sRTeacherWorkDTO.unScorePect}%（$!{sRTeacherWorkDTO.unScoreStuList.size()}人)</em>
                            </div>
                            <span class="level-name">未批改</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="score-level">
                <div class="score">
                    <span>得分</span>
                    <i class='first-level'></i>
                </div>
                <ul class="ul-stu">
                    #foreach($SRTeacherWorkStuDTO in $sRTeacherWorkDTO.scoreAStuList)
                        <li>
                            <img class="stu-portrait" src="http://avatar.xueleyun.com/images/96x96_$!{SRTeacherWorkStuDTO.headUrl}.jpg" alt=""/><br/>
                            <span class="stu-name">$!{SRTeacherWorkStuDTO.studentName}</span>
                        </li>
                    #end
                </ul>
            </div>
            <div class="score-level">
                <div class="score">
                    <span>得分</span>
                    <i class='second-level'></i>
                </div>
                <ul class="ul-stu">
                    #foreach($SRTeacherWorkStuDTO in $sRTeacherWorkDTO.scoreBStuList)
                        <li>
                            <img class="stu-portrait" src="http://avatar.xueleyun.com/images/96x96_$!{SRTeacherWorkStuDTO.headUrl}.jpg" alt=""/><br/>
                            <span class="stu-name">$!{SRTeacherWorkStuDTO.studentName}</span>
                        </li>
                    #end
                </ul>
            </div>
            <div class="score-level">
                <div class="score">
                    <span>得分</span>
                    <i class='third-level'></i>
                </div>
                <ul class="ul-stu">
                    #foreach($SRTeacherWorkStuDTO in $sRTeacherWorkDTO.scoreCStuList)
                        <li>
                            <img class="stu-portrait" src="http://avatar.xueleyun.com/images/96x96_$!{SRTeacherWorkStuDTO.headUrl}.jpg" alt=""/><br/>
                            <span class="stu-name">$!{SRTeacherWorkStuDTO.studentName}</span>
                        </li>
                    #end
                </ul>
            </div>
            <div class="score-level">
                <div class="score">
                    <span>得分</span>
                    <i class='fourth-level'></i>
                </div>
                <ul class="ul-stu">
                    #foreach($SRTeacherWorkStuDTO in $sRTeacherWorkDTO.scoreDStuList)
                        <li>
                            <img class="stu-portrait" src="http://avatar.xueleyun.com/images/96x96_$!{SRTeacherWorkStuDTO.headUrl}.jpg" alt=""/><br/>
                            <span class="stu-name">$!{SRTeacherWorkStuDTO.studentName}</span>
                        </li>
                    #end
                </ul>
            </div>
            <div class="score-level">
                <div class="score">
                    <span>未批改</span>
                </div>
                <ul class="ul-stu">
                    #foreach($SRTeacherWorkStuDTO in $sRTeacherWorkDTO.unScoreStuList)
                        <li>
                            <img class="stu-portrait" src="http://avatar.xueleyun.com/images/96x96_$!{SRTeacherWorkStuDTO.headUrl}.jpg" alt=""/><br/>
                            <span class="stu-name">$!{SRTeacherWorkStuDTO.studentName}</span>
                        </li>
                    #end
                </ul>
            </div>
        </div>
    </div>
</div>

