#set($layout="layout/bodyLayout.vm")
#set($page_title="写提分宝作业")
#define($script)
<link rel="stylesheet" href="$!{asset_host}/css/cloudteach/stu.css?version=${version}" />
<script src="$!{asset_host}/js/cloudteach/stu-upgrade-study.js?version=${version}"></script>
#end
<div class="detail-head">
    <div class="upgrade-head">
        <em class="em-upgrade-head">提分宝</em>
        <a class="li-whos on" href="javascript:void(0)">写作业</a>
    </div>
</div>
<input type="hidden" name="userId" value="$!{userId}"/>
<input type="hidden" name="schoolId" value="$!{schoolId}"/>
<input type="hidden" name="unitId" value="$!{unitId}"/>
<input type="hidden" name="bankId" value="$!{bankId}"/>
<input type="hidden" name="orderNum" value="$!{orderNum}"/>
<div class="white-shade">
    <img src="$!{asset_host}/g/imgs/loading.gif" alt="" class="img-loading"/>
    <p class="p-loading">正在加载提分宝作业，请稍后...</p>
</div>
<div class="container upgrade-content">
    <div class="write-wrap">
        <div class="task-info">
            <div class="upgrade-list">
                <ul class="ul-list">
                    #foreach($ques in $!{magicWorkQueDetailDTO.magicQueViewDTOs})
                        <li data-id=$!{ques.queId}>
                            <h4 class="task-head">
                                <span class="task-num">
                                    <strong>$!{velocityCount}.[$!{ques.queType}]</strong>
                                </span>
                                #if( ${ques.videoId})
                                    <a class="task-detail" href="$!{ques.videoFileKey}">查看习题讲解</a>
                                #end
                            </h4>
                            <p class="task-content">
                                $!{ques.content}
                            </p>
                            <div class="task-answer">
                                <span class="notes-detail">此处为答案，完成作业后可查看答案</span>
                                <div class="answer-detail">
                                    <div class="answer-rect">
                                        参考答案： $!{ques.answer}
                                    </div>
                                </div>
                            </div>
                            <div class="results-detail">
                                <em class="right-answer">我做对啦！</em>
                                <em class="wrong-answer">我做错啦！</em>
                            </div>
                        </li>
                    #end
                </ul>
                <div class="portrait-shade">
                </div>
            </div>
        </div>
        <div class="hand-info">
            <div class="before-start" style="display: block">
                <p class="start-notes">
                    请查看题目，然后在作业本上完成。系统会根据你的完成情况，评估你的知识掌握水平
                </p>
                <div class="count-down"> 00:00 </div>
                <em class="start-button">开始作业</em>
                <span class="start-encourage">认真学习，必成学霸</span>
            </div>
            <div class="homework-attachment" style="display: none;">
                <a href="/magic/work/student/appCenterMagic" class="once-again">再次挑战</a>
            </div>
        </div>
    </div>

