#set($layout="layout/bodyLayout.vm")
#set($page_title="写电子作业")
#define($script)

<link rel="stylesheet" href="$!{asset_host}/css/cloudteach/stu.css?version=${version}"/>
<script src="$!{asset_host}/js/cloudteach/stu-write-electronic.js?version=${version}"></script>
<script src="$!{asset_host}/cjs/common/xlutil.js?version=${version}"></script>
#end

<div class="detail-head">
    <a class="li-whos on" href="javascript:void(0)">写作业</a>
    <a class="li-whos"
       href="$!{ctx}/exercise/work/student/exerciseWorkCommunication?workId=$!{basicWorkInfo.workId}&workType=4">作业交流</a>
</div>
<input type="hidden" name="workId" value="$!{basicWorkInfo.workId}">
<input type="hidden" name="endTime" value="$DateExtend.toMillis($!{basicWorkInfo.endTime})">
<input type="hidden" name="subOther" value="$!{basicWorkInfo.subOther}">
<input type="hidden" name="subImage" value="$!{basicWorkInfo.subImage}">
<input type="hidden" name="subVideo" value="$!{basicWorkInfo.subVideo}">
<input type="hidden" name="subTape" value="$!{basicWorkInfo.subTape}">

<div class="container">
    <div class="write-wrap">
        <div class="task-info">
            <div class="detail-title">
                <div class="task-title">
                    <img src="$!{avatar_host}/images/48x48_$!{basicWorkInfo.teacherHeadIcon}.jpg" class="portrait"/>

                    <h3 class="detail-info">
                        <span class="tch-name">$!{basicWorkInfo.teacherName}</span><br/>
                    </h3>
                    <ul class="homework-explain">
                        <li class="subject-name"> $!{basicWorkInfo.subjectName} </li>
                        <li class="course-name"> $!{basicWorkInfo.unitName} </li>
                        <li class="homework-num">$!{basicWorkInfo.workItemCount}题</li>
                    </ul>
                    <p class="p-detail">$!{basicWorkInfo.context.replaceAll("\r\n", "<br>").replaceAll(
                        "\r", "<br>").replaceAll("\n", "<br>").replaceAll(" ","&nbsp;")}</p>

                    #if($workTapeFilesDTO)
                        <div class="video-wrap">
                            <div role="player" class="xlplayer" data-filekey="$!{workTapeFilesDTO.url}"
                                 data-ext="$!{workTapeFilesDTO.extension}"></div>
                        </div>
                    #end

                </div>
            </div>

            <div class="attachment-wrap">
                <h3>题目附件</h3>
                <ul class="ul-attachment">
                    #foreach($teacherWorkFileDetailViewDTO in $teacherWorkFileDetailList)
                        #if($teacherWorkFileDetailViewDTO.extType == 6)
                            <li><img class="xlpreview img-file-type"
                                     data-ext="$!{teacherWorkFileDetailViewDTO.extension}"
                                     data-filekey="$!{teacherWorkFileDetailViewDTO.url}"
                                     src="$!{dl_host}/images/1/100x100_$!{teacherWorkFileDetailViewDTO.url}.$!{teacherWorkFileDetailViewDTO.extension}"
                                     alt=""/>
                                <span class="file-name">$!{teacherWorkFileDetailViewDTO.name}
                                    .$!{teacherWorkFileDetailViewDTO.extension}</span>
                                <a class="a-download"
                                   href="$!{dl_host}/files/dl/$!{teacherWorkFileDetailViewDTO.url}.$!{teacherWorkFileDetailViewDTO.extension}?fname=$!{teacherWorkFileDetailViewDTO.name}">
                                    <img src="$!{asset_host}/imgs/cloudteach/download.png" alt=""/></a>
                            </li>
                        #else
                            <li>
                                <img class="xlpreview img-file-type"
                                     data-ext="$!{teacherWorkFileDetailViewDTO.extension}"
                                     data-filekey="$!{teacherWorkFileDetailViewDTO.url}"
                                     src="$!{asset_host}/g/imgs/icons/$!{teacherWorkFileDetailViewDTO.extIconType}-x.png"
                                     alt=""/>
                                <span class="file-name">$!{teacherWorkFileDetailViewDTO.name}
                                    .$!{teacherWorkFileDetailViewDTO.extension}</span>
                                <a class="a-download"
                                   href="$!{dl_host}/files/dl/$!{teacherWorkFileDetailViewDTO.url}.$!{teacherWorkFileDetailViewDTO.extension}?fname=$!{teacherWorkFileDetailViewDTO.name}">
                                    <img src="$!{asset_host}/imgs/cloudteach/download.png" alt=""/></a>
                            </li>
                        #end
                    #end
                </ul>
            </div>
        </div>

        <div class="hand-info">
            <button class="hand-button">交作业</button>
            <div class="hand-method method-time">作业上交方式：
                #if(${basicWorkInfo.subOther} == 1)  不限制
                #end
                #if(${basicWorkInfo.subImage} == 1)  图片
                #end
                #if(${basicWorkInfo.subVideo} == 1)  视频
                #end
                #if(${basicWorkInfo.subTape} == 1)  录音
                #end
            ##                #if(${basicWorkInfo.subImage} == 0 &&${basicWorkInfo.subVideo} == 0 && ${basicWorkInfo.subTape} == 0)  文字
            ##                #end
            </div>
            <div class="hand-time method-time">最晚交作业时间：$!{lastCommitDays}天之内</div>

            #if(${stuWorkItemAnswerDTO.subStatus}==1)
            <div class="electronic-finish" style="display: block;">
            #else
            <div class="electronic-finish" style="display: none;">
            #end
            <p class="hand-content">$!{stuWorkItemAnswerDTO.context.replaceAll("\r\n", "<br>").replaceAll(
                "\r", "<br>").replaceAll("\n", "<br>").replaceAll(" ","&nbsp;")}</p>

            <div class="homework-attachment">
                <ul class="upload-icons">
                    #foreach($teacherWorkItemAnswerFileDTO in $stuWorkItemAnswerFileList)
                        #if($teacherWorkItemAnswerFileDTO.fileType==1)
                            <li><img class="xlpreview img-file-type"
                                     data-ext="$!{teacherWorkItemAnswerFileDTO.extension}"
                                     data-filekey="$!{teacherWorkItemAnswerFileDTO.url}"
                                     src="$!{dl_host}/images/1/100x100_$!{teacherWorkItemAnswerFileDTO.url}.$!{teacherWorkItemAnswerFileDTO.extension}"
                                     alt=""/>
                                <a class="a-download"
                                   href="$!{dl_host}/files/dl/$!{teacherWorkItemAnswerFileDTO.url}.$!{teacherWorkItemAnswerFileDTO.extension}?fname=$!{teacherWorkItemAnswerFileDTO.fileName}">
                                    <img class="dl-icon" src="$!{asset_host}/imgs/cloudteach/download.png" alt=""/>
                                    <span class="dl-note">点击下载</span>
                                </a>
                            </li>
                        #end
                        #if($teacherWorkItemAnswerFileDTO.fileType==2)
                            <li><img class="xlpreview img-file-type"
                                     data-ext="$!{teacherWorkItemAnswerFileDTO.extension}"
                                     data-filekey="$!{teacherWorkItemAnswerFileDTO.url}"
                                     src="$!{asset_host}/g/imgs/icons/audio-x.png"
                                     alt=""/>
                                <a class="a-download"
                                   href="$!{dl_host}/files/dl/$!{teacherWorkItemAnswerFileDTO.url}.$!{teacherWorkItemAnswerFileDTO.extension}?fname=$!{teacherWorkItemAnswerFileDTO.fileName}">
                                    <img class="dl-icon" src="$!{asset_host}/imgs/cloudteach/download.png" alt=""/>
                                    <span class="dl-note">点击下载</span>
                                </a>
                            </li>
                        #end
                        #if($teacherWorkItemAnswerFileDTO.fileType==3)
                            <li><img class="xlpreview img-file-type"
                                     data-ext="$!{teacherWorkItemAnswerFileDTO.extension}"
                                     data-filekey="$!{teacherWorkItemAnswerFileDTO.url}"
                                     src="$!{asset_host}/g/imgs/icons/video-x.png"
                                     alt=""/>
                                <a class="a-download"
                                   href="$!{dl_host}/files/dl/$!{teacherWorkItemAnswerFileDTO.url}.$!{teacherWorkItemAnswerFileDTO.extension}?fname=$!{teacherWorkItemAnswerFileDTO.fileName}">
                                    <img class="dl-icon" src="$!{asset_host}/imgs/cloudteach/download.png" alt=""/>
                                    <span class="dl-note">点击下载</span>
                                </a>
                            </li>
                        #end
                    #end
                </ul>
            </div>
            <div class="finish-time">
                作业完成时间: $!{subTime}
            </div>
        </div>

            #if($DateExtend.compareToCurrTime($!{basicWorkInfo.endTime}) ==1&&${stuWorkItemAnswerDTO.subStatus}==0)
                <div class="child-finish-no">
                    作业已经过期了
                </div>
            #else

                #if(${stuWorkItemAnswerDTO.subStatus}==1)
                <div class="before-finish" style="display: none">
                #else
                <div class="before-finish" style="display: block">
                #end

                <div class="textarea-wrap">
                    <textarea name="" id=""></textarea>
                    <span class="nums">0/3000</span>
                </div>
                <div class="homework-attachment">
                    <h4 class="attachment-head">作业附件</h4>
                    <ul class="upload-icons">
                        #if(${basicWorkInfo.subOther} == 1)
                            <li><i class="img-method"></i></li>
                            <li><i class="video-method"></i></li>
                            <li><i class="audio-method"></i></li>
                        #end
                        #if(${basicWorkInfo.subImage} == 1)
                            <li><i class="img-method"></i></li>
                        #end
                        #if(${basicWorkInfo.subVideo} == 1)
                            <li><i class="video-method"></i></li>
                        #end
                        #if(${basicWorkInfo.subTape} == 1)
                            <li><i class="audio-method"></i></li>
                        #end
                    </ul>
                </div>
            </div>
            #end
        </div>
        </div>
        </div>