#set($layout="layout/bodyLayout.vm")
#set($page_title="电子作业题目")
#define($script)
<link rel="stylesheet" href="$!{asset_host}/css/cloudteach/homework-manage.css?version=${version}" />
#end
<input type="hidden" name="viewType" value="1">
<div class="detail-head">
    <a class="li-whos" href="initDetail?workId=$!{teacherWorkDetailViewDTO.workId}&classId=$!{classId}&schoolId=$!{teacherWorkItemViewDTO.schoolId}">完成详情</a>
    <a class="li-whos on" href="javascript:void(0)">作业题目</a>
</div>
<div class="title-wrap">
    <div class="detail-title">
        <div class="task-title">
            <img src="$!{avatar_host}/images/48x48_$!{teacherWorkDetailViewDTO.userIcon}.jpg" class="portrait"/>
            <h3 class="detail-info">
                <span class="tch-name">$!{teacherWorkDetailViewDTO.userName}($!{teacherWorkDetailViewDTO.positionName})</span><br/>
                <span class="publish-time">$!{date.format('yyyy年MM月dd日 HH:mm:ss ',$!{teacherWorkDetailViewDTO.publishTime})}</span>
            </h3>
            <p class="p-detail">$!{teacherWorkItemViewDTO.context.replaceAll("\r\n", "<br>").replaceAll("\r", "<br>").replaceAll("\n", "<br>").replaceAll(" ","&nbsp;")}
            </p>
        </div>
        <ul class="homework-explain">
            <li class="subject-name"> $!{teacherWorkDetailViewDTO.subjectName}</li>
            <li class="course-name"> $!{teacherWorkDetailViewDTO.unitName}</li>
            <li class="homework-num">1题 </li>
            <li class="hand-method">作业上交方式:
                #if ($!{teacherWorkItemViewDTO.subOther} == 1)不限制#end
                #if ($!{teacherWorkItemViewDTO.subImage} == 1)照片#end
                #if ($!{teacherWorkItemViewDTO.subTape} == 1 )录音#end
                #if ($!{teacherWorkItemViewDTO.subVideo} == 1 )视频#end
            </li>
            <li class="last-time">最晚交作业时间： $!{date.format('yyyy年MM月dd日 HH:mm:ss ',$!{teacherWorkDetailViewDTO.endTime})}</li>
        </ul>
        #if($workTapeFilesDTO.url)
            <div class="video-wrap">
                <div role="player" class="xlplayer" data-filekey="$!{workTapeFilesDTO.url}" data-ext="$!{workTapeFilesDTO.extension}"></div>
            </div>
        #end
    </div>
    <div class="attachment-wrap">
        <h3>习题附件</h3>
        <ul class="ul-attachment">
            #foreach($BankItemFilesViewDTO in $teacherWorkItemViewDTO.itemFilesList)
                <li>
                    <img class="xlpreview img-file-type" data-ext="$!{BankItemFilesViewDTO.extension}"
                         data-filekey="$!{BankItemFilesViewDTO.fileUri}"
                        #if ($!{BankItemFilesViewDTO.extType} == 6)
                         src="http://dl.xueleyun.com/images/1/100x100_$!{BankItemFilesViewDTO.fileUri}.$!{BankItemFilesViewDTO.extension} "
                        #else src="$!{asset_host}/g/imgs/icons/$!{BankItemFilesViewDTO.extIconType}-x.png " #end
                            />
                    <span class="file-name">$!{BankItemFilesViewDTO.name}.$!{BankItemFilesViewDTO.extension}</span>
                </li>
            #end

        </ul>
    </div>
</div>

