#set($layout="layout/bodyLayout.vm")
#set($page_title="布置提分宝作业")
#define($script)
<link rel="stylesheet" href="$!{asset_host}/css/cloudteach/homework.css?version=${version}" />
<script src="$!{asset_host}/g/lib/gallery/datepicker/WdatePicker.js?version=${version}"></script>
<script src="$!{asset_host}/js/cloudteach/guide-common.js?version=${version}"></script>
<script src="$!{asset_host}/js/cloudteach/publish-cloud.js?version=${version}"></script>
#end

<div class="publish-wrap">
    <form action="$!{ctx}/magic/work/addMagicWork" method="post">
        <div class="publish-head">
            <h2>
                <em class="head-name">发布给学生</em>
                <input type="submit" class="publish" value="发布">
                <a class="cancel" href="$!{ctx}/magic/work/index">取消</a>
            </h2>
        </div>
        <div class="publish-content">
            <div class="publish-set">
                <div class="addclass-rect">
                    <div class="addClass"><em>+ 添加班级</em></div>
                    <img src="$!{asset_host}/imgs/cloudteach/add_class.png" class="classchoose" />
                </div>
                <div class="textarea-wrap">
                    <textarea class="setwork_textarea" name="context" placeholder="填写本次作业的描述内容...（选填）"></textarea>
                    <p class="nums">0/3000</p>
                </div>
                <div class="set-time">
                    <div class="set-time">
                        <div class="set-publish-time">
                            <font>选择交作业方式</font>
                            <ul class="ul-times">
                                <li>
                                    <i class="sel sel-yes "></i>
                                    <span>不限制</span>
                                    <input type="checkbox" name="subOther" value="1" checked>
                                </li>
                                <li>
                                    <i class="sel sel-no"></i>
                                    <span>照片</span>
                                    <input type="checkbox" name="subImage" value="1" >
                                </li>
                                <li>
                                    <i class="sel sel-no"></i>
                                    <span>视频</span>
                                    <input type="checkbox" name="subVideo" value="1">
                                </li>
                                <li>
                                    <i class="sel sel-no"></i>
                                    <span>音频</span>
                                    <input type="checkbox" name="subTape" value="1">
                                </li>
                            </ul>
                        </div>
                    <div class="set-publish-time">
                        <font>最晚交作业时间：</font>
                        <ul class="ul-times">
                            <li>
                                <i class="radio-icon radio-yes"></i>
                                <span>1天以内</span>
                                <input type="radio" name="lastCommitRange" value="1" checked/>
                            </li>
                            <li>
                                <i class="radio-icon radio-no"></i>
                                <span>3天以内</span>
                                <input type="radio" name="lastCommitRange" value="3"/>
                            </li>
                            <li>
                                <i class="radio-icon radio-no"></i>
                                <span>5天以内</span>
                                <input type="radio" name="lastCommitRange" value="5"/>
                            </li>
                        </ul>
                    </div>
                        <div class="set-submit-time">
                            <font>定时发布：</font>
                            <div class="choose-date">
                                <i class="radio-icon radio-yes"></i>
                                <img src="$!{asset_host}/imgs/cloudteach/setwork_time.png" class="set-date"/>
                                <span class="choose" onclick="WdatePicker()">选择预定日期</span>
                                <input type="radio" name="publishTime" value="" checked/>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="upgrade-list">
            <h3 class="upgrade-publish">
                $!{magicWorkListWrapper.classes}<span class="publish-status">
                #if( ${magicWorkListWrapper.releases} == 0 ) <strong>（未布置）</strong>
                #else <strong>（已布置）</strong> #end
            </span>
            </h3>
            #foreach($magic in $!{magicWorkListWrapper.magicQuestionDetailWrappers})
                <li>
                    <h4 class="task-head">#if( ${magic.queTypeCode} == 1 ) <strong>$!{velocityCount}:[选择题]</strong>
                    #elseif(${magic.queTypeCode} == 2 ) <strong>$!{velocityCount}:[填空题]</strong>
                    #elseif(${magic.queTypeCode} == 3 ) <strong>$!{velocityCount}:[判断题]</strong>
                    #else <strong>$!{velocityCount}:[其他题目]</strong> #end</h4>
                    <p class="task-content">$!{magic.content}</p>
                </li>
            #end
        </div>
            <input type="hidden" name="bankId" value=""/>
            <input type="hidden" name="unitId" value=""/>
            <input type="hidden" name="classList" value=""/>
            <input type="hidden" name="classJson" value=""/>
    </form>
</div>
