<!DOCTYPE html>
<html>
<head>
##    #set($ctx=${request.getContextPath()})
    <meta charset="UTF-8"/>
    <title>$!page_title</title>

    ## 云教学通用
    #parse("common/common.vm")

    $!script
</head>
<body>
    $screen_content
</body>
</html>