<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>$!page_title</title>


    ## 云教学通用
    #parse("common/common.vm")

    $!script

    ## 引入用户信息
    #parse("common/userSession.vm")

</head>
<body>

    ## 引入公共头
    #parse("common/twm_head.vm")

    $screen_content

    ## 引入弹出层
    #parse("common/popup.vm")

    ## 引入底部
    #parse("common/footer.vm")

</body>

</html>