#set($page_title="云教学")
#define($script)
<link rel="stylesheet" href="$!{asset_host}/css/cloudteach/pan.css?version=${version}"/>
<script  src="$!{asset_host}/js/cloudteach/disk-common.js?version=${version}"></script>
<script  src="$!{asset_host}/js/cloudteach/disk-my.js?version=${version}"></script>
<script  src="$!{asset_host}/js/cloudteach/swfobject.js?version=${version}"></script>
#end

<div class="container">
    <div class="whos-nav">
        <ul class="ul-whos">
##            <li class="li-whos on mine"><a href="/cloudDisk/file/index">我的云盘</a></li>
##            <li class="li-whos others"><a href="/cloudDiskShare/share">大家的分享</a></li>
        </ul>
    </div>

    <div class="two-column">

        <div class="left-nav">
        ##LEFT 引入教材左侧页面片段
                #parse("common/curriculumLeftBar.vm")
        </div>

        云教学主页面  11
##        <div class="right-content">
##            <ul class="file-type">
##                <li class="type-name no-bl selected" data-filetype="4">课件</li>
##                <li class="type-name" data-filetype="5">习题</li>
##                <li class="type-name" data-filetype="6">课程素材</li>
##                <li class="type-name" data-filetype="2">教案</li>
##                <li class="type-name" data-filetype="3">学案</li>
##                <li class="type-name" data-filetype="1">其他</li>
##            </ul>
##            <div class="inner-search">
##                <i class="sel sel-no sel-all"></i>
##                <label for="sel-all">全选</label>
##                <ul class="ul-op">
##                    <li class="moveto"><i class="moveto-icon"></i><span>移动到</span></li>
##                    <li class="delete"><i class="delete-icon"></i><span>删除</span></li>
##                </ul>
##                <div class="show-method">
##                    <i class="grid-method" title="缩略图模式"></i>
##                    <i class="list-method" title="列表模式"></i>
##                </div>
##            </div>
##            <div class="current-type">
##                <div class="current-typename">
##                    <span data-type="">所有类型</span>
##                    <i class="arrow-down arrow-black"></i>
##                </div>
##                <ul class="type-list">
##                    <li data-type="">所有类型</li>
##                    <li data-type="2"><i class="PPT-icon filetype-icon"></i><span>PPT</span></li>
##                    <li data-type="3"><i class="word-icon filetype-icon"></i><span>word</span></li>
##                    <li data-type="4"><i class="video-icon filetype-icon"></i><span>视频</span></li>
##                    <li data-type="5"><i class="audio-icon filetype-icon"></i><span>声音</span></li>
##                    <li data-type="6"><i class="image-icon filetype-icon"></i><span>图片</span></li>
##                    <li data-type="1"><i class="others-icon filetype-icon"></i><span>其他</span></li>
##                </ul>
##                <em class="total-file">共123文件</em>
##            </div>
##            <div class="empty">
##                <p class="empty-msg">云盘没有任何文件</p>
##
##                <p class="empty-who">您可以去看看大家的分享，或者从电脑上传</p>
##
##                <p class="empty-ctls"><a href="javascript:;" class="upload-file"><i class="icon-add"></i>从电脑上传</a></p>
##            </div>
##            <div class="list-view">
##                <ul class="list-view-header">
##                    <li class="li-checkbox">&nbsp;</li>
##                    <li class="li-filename">文件名称</li>
##                    <li class="li-uploadtime">上传时间</li>
##                    <li class="li-filesize">文件大小</li>
##                </ul>
##                <ul class="act-detail">
##                    <li class="rename"><i class="pan-icons rename-icon"></i><span>重命名</span></li>
##                    <li class="moveto"><i class="pan-icons moveto-icon"></i><span>移动到</span></li>
##                    <li class="cancelsave"><i class="pan-icons cancelsave-icon"></i><span>取消收藏</span></li>
##                    <li class="deletefile"><i class="pan-icons delete-icon"></i><span>删除</span></li>
##                </ul>
##                <div class="file-wrap">
##                </div>
##            </div>
##            <div class="grid-view">
##                <ul class="act-detail">
##                    <li class="rename"><i class="pan-icons rename-icon"></i><span>重命名</span></li>
##                    <li class="moveto"><i class="pan-icons moveto-icon"></i><span>移动到</span></li>
##                    <li class="shareto"><i class="pan-icons shareN-icon"></i><span>分享</span></li>
##                    <li class="cancelsave"><i class="pan-icons cancelsave-icon"></i><span>取消收藏</span></li>
##                    <li class="totop"><i class="pan-icons topN-icon"></i><span>置顶</span></li>
##                    <li class="canceltop"><i class="pan-icons topN-icon"></i><span>取消置顶</span></li>
##                    <li class="li-download"><i class="pan-icons download-icon pan-icons"></i><span>下载</span></li>
##                    <li class="deletefile"><i class="pan-icons delete-icon"></i><span>删除</span></li>
##                </ul>
##                <ul class="file-wrap">
##                </ul>
##            </div>
##        </div>

    </div>

</div>
<div class="popup">
    <div class="popup-info">
        <h4 class="popup-head">
            <span class="popup-name"></span>
            <i class="close-icon"></i>
        </h4>

        <div class="popup-content">
        </div>
        <div class="popup-act">
            <a href="javascript:void(0)" class="popup-cancel">取消</a>
            <a href="javascript:void(0)" class="popup-confirm">确定</a>
        </div>
    </div>
    <div class="change-textbook">
        <h4 class="change-head">
            <span class="name">切换教材</span>
            <i class="close-icon"></i>
        </h4>

        <div class="side">
            <h5 class="book-name">
                思想政治人教标准版2013<br/>一年级上
            </h5>

            <div class="texts-wrap">
                <div class="sorts-wrap">
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="select-rect">
                <div class='select-head'>上传到<span class='target-place'>教案</span><i class='arrow-down arrow-black'></i>
                </div>
                <ul class='places'>
                    <li data-filetype='4' class="on">教案</li>
                    <li data-filetype='3'>学案</li>
                    <li data-filetype='4'>课件</li>
                    <li data-filetype='5'>习题</li>
                    <li data-filetype='6'>课程素材</li>
                    <li data-filetype='1'>其他</li>
                </ul>
            </div>
            <div class="upload-notes">
                <em class="em-upload"><i class="upload-icon"></i>上传文件至云盘</em><br/>
                <span class="span-notes">按住ctrl，一次上传多个文件</span>

                <p>（支持上传200MB之内的照片、视频、录音文件，以及Word、PPT、Excel、PDF等文件）</p>
            </div>
            <div class="flash-wrap">
                <object type="application/x-shockwave-flash" data="/tch/swf/fileUpLoadV1.swf"
                        width="660" height="340"
                        id="upload" style="visibility: visible;">
                    <param name="menu" value="false">
                    <param name="wmode" value="transparent">
                    <param name="flashvars"
                           value="encodeVar=7CCD197A955CC3223B700C8EAD1F7378EB79A9F5D2C42062FF241FB23E1725B872FB38D2C4AE2CE25FD7CCC3A1B0E3782F126E5D30AC157C1030AA691E497BDC124BC36B74F8740795D579D347E348FCD5C96E288D956A77C3188E849E4EF0D89A53A8C74EF49836F581FB785BF66D6ADBFCEE93&uploadURL=http%3a%2f%2f192.168.1.175%3a8080%2fupload&endURL=&dataURL=http%3a%2f%2fcloudteach.app.xuele.net%2fcloudDisk%2ffile%2fflashUpload">
                </object>
            </div>
        </div>
    </div>
</div>
<script >
    //flash执行上传操作的时候会调用页面上面的这个js方法获取一个值
    function getTempValues() {
        //获取课程ID 资源类型 用户id
        var fileType = $(".change-textbook .places .on").data("filetype");
        var unitId = $(".change-textbook .sorts-wrap .sel").data("id");
        var uid = $!{userId};
        return '' + unitId + ',' + fileType + ','+ uid + '';
    }
</script>