#set($layout="layout/bodyLayout.vm")
#set($page_title="口语作业完成详情")
#define($script)
<script src="$!{asset_host}/g/lib/gallery/swfobject.js?version=${version}"></script>
<link rel="stylesheet" href="$!{asset_host}/css/cloudteach/homework-manage.css?version=${version}" />
<script src="$!{asset_host}/js/cloudteach/elite-detail.js?version=${version}"></script>
<script src="$!{asset_host}/js/cloudteach/detail.js?version=${version}"></script>
#end
<input type="hidden" name="viewType" value="1">
<input type="hidden" name="workItem" value="$!{voiceWorkItemDTO.workItemId}">
<input type="hidden" name="workType" value="7">
<input type="hidden" name="userId" value="$!{teacherWorkDetailViewDTO.userId}">
<input type="hidden" name="schoolId" value="$!{voiceWorkItemDTO.schoolId}">
<input type="hidden" name="classId" value="$!{classId}">
<div class="detail-head">
    <a class="li-whos on" href="javascript:void(0)">完成详情</a>
    <a class="li-whos" href="workItemDetail?workId=$!{voiceWorkItemDTO.workId}&classId=$!{classId}&schoolId=$!{voiceWorkItemDTO.schoolId}">作业题目</a>
</div>
<div class="container">
    <div class="detail-wrap elite-detail">

        <div class="right-content">

            <div class="empty">
                <p class="empty-msg">还没有学生提交作业</p>

            </div>
            <div class="stu-list">
            </div>
        </div>
    </div>
</div>

